$font-roboto: 'Roboto', sans-serif;

// screen size breakpoints. Alter as needed.
$screen-small-min: 375px;
$screen-medium-min: 600px;
$screen-large-min: 1024px;
$screen-xlarge-min: 1600px;

$screen-small-max: 599px;
$screen-medium-max: 1023px;
$screen-large-max: 1599px;
